<p></p>
<table class="table table-hover" style="background-color:whitesmoke">
    <thead>
      <tr>
        <th scope="col">::</th>
        <th scope="col">SALA</th>
        <th scope="col">TRADUCCIÓN</th>
        <th scope="col">FUNCIONES</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>PALMETTO</td>
        <td>2D Doblado</td>
        <td>
            <button type="button" class="btn btn-outline-primary  rounded-pill">9:AM</button>
            <button type="button" class="btn btn-outline-secondary rounded-pill">5:30 PM</button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>ÚNICO</td>
        <td>2D Doblado</td>
        <td> <button type="button" class="btn btn-outline-primary rounded-pill">9:AM</button>
            <button type="button" class="btn btn-outline-secondary rounded-pill">5:30 PM</button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>UNICENTRO</td>
        <td>Ingles</td>
        <td> <button type="button" class="btn btn-outline-primary rounded-pill">9:AM</button>
            <button type="button" class="btn btn-outline-secondary rounded-pill">5:30 PM</button> </td>
    </tr>
    </tbody>

    
  </table>