/* You can add global styles to this file, and also import other style files 
 background-color: #14161E;
*/
body {
    background: #6441A5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a0845, #6441A5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

h1,h2,h3,h4,h5 {
    font-weight: 200;
    color: white;
}

p {
    color: white;
}

hr{
    color: white;
}

.navbar-brand {
    font-weight: 200;
    color: #bd4c5f !important;
}

.btn-outline-success {
    border-color: #bd4c5f !important;;
    color: #bd4c5f !important;;
}

.btn-outline-success:hover {
    background-color: #272a36;
    color: white !important;
}

.block {
    display:block;
}